body
  { color: #fff;
    background: #19191a;
    font-family: Helvetica, sans-serif;
    margin: 2em; }

a { color: #fff; }

p { margin: 0; padding: 0; }

button
  { font-size: 18px;
    color: #222;
    padding: 0.25em 1em 0.25em 1em;
    border: 1px solid #222;
    background-color: #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px; }

header
  { float: left;
    width: 180px; }

#button
  { float: left;
    width: 85px; }

#stats
  { margin: 1em 0 1em 0;
    height: 5em;
    float: left; }

#stats .column
  { float: left;
    margin-left: 1em; }

#stats p
  { font-size: 12px;
    }

#stats p .label
  { color: #999;
    font-size: 14px;
    text-transform: uppercase; }
