nav,
section,
aside,
footer,
header
  { display: block; }

body
  { color: #fff;
    background: #000;
    font-family: Helvetica, sans-serif;
    letter-spacing: -0.1em;
    margin: 2em 4em; }

a { color: #fff; }

p { margin: 0; padding: 0; }

header
  { float: left;
    width: 11em;
    margin-right: 2.2em; }

header h1
  { font-size: 2em;
    font-weight: normal; }

header section
  { float: none;
    clear: both; }

header .label
  { float: left;
    margin-right: 0.25em; }
header .value
  { float: left;
    letter-spacing: -0.2em; }

header #today
  { font-size: 2.2em;
    position: relative;
    width: 100%; }
header #today .label
  { letter-spacing: -0.125em; }
header #today .value
  { font-size: 2.4em;
    position: absolute;
    top: -0.45em;
    right: 0; }

header #today .value.zero
  { color: #3f3f3f; }
header #today .value.lo
  { color: #fff; }
header #today .value.mid
  { color: #33c3ff; }
header #today .value.hi
  { color: #ff0059; }

header #average
  { color: #8c8c8d;
    font-size: 0.7em;
    padding-left: 0.75em; }
header #average .value
  { font-weight: bold;
    margin-left: 0.2em; }

#button
  { float: left;
    margin: -0.25em 0 0 1em;
    position: relative; }
#button img
  { position: absolute;
    top: 0;
    bottom: 0;
    display: none; }

#stats
  { margin: 1em 0 0 1em;
    float: left; }

#stats .column
  { float: left;
    margin-left: 2em; }

#stats p
  { line-height: 1em; }

#stats .label
  { color: #e5e5e5;
    font-size: 0.8em;
    text-transform: uppercase;
    width: 3.5em;
    display: block;
    float: left;
    padding-top: 0.31em; }

#stats .value
  { font-size: 1.4em;
    font-weight: normal;
    letter-spacing: -0.2em; }

svg
  { position: absolute;
    left: 0;
    bottom: 2em;
    width: 100%;
    height: 60px; }
