<div class="stats">
  <p class="year" >Year:  <%= stats.year  || 'N/A' %></p>
  <p class="month">Month: <%= stats.month || 'N/A' %></p>
  <p class="today">Today: <%= stats.today || 'N/A' %></p>
</div>
