<section class="column">
  <p class="year" ><span class="label">Year</span>          <span class="value"><%= stats.year  || '0' %></span></p>
  <p class="month"><span class="label">Month</span>         <span class="value"><%= stats.month || '0' %></span></p>
</section>
<section class="column">
  <p class="week"><span class="label">7 days</span>           <span class="value"><%= stats.week || '0' %></span></p>
  <p class="yesterday"><span class="label">Y'day</span> <span class="value"><%= stats.yesterday || '0' %></span></p>
</section>
